streamlit==1.33.0
google-generativeai==0.5.2
faiss-cpu
numpy
pypdf
python-docx
python-dotenv
google-api-python-client
google-auth
google-auth-oauthlib
protobuf==4.25.3
requests
matplotlib
fastembed==0.3.0





